
.idea/

.claude/

src/GAutoSwitch.Core/bin/

src/GAutoSwitch.Hardware/bin/

src/GAutoSwitch.Core/obj/

src/GAutoSwitch.Hardware/obj/

src/GAutoSwitch.HidSandbox/obj/

src/GAutoSwitch.HidSandbox/bin/

src/GAutoSwitch.UI/bin/

src/GAutoSwitch.UI/obj/

publish/

src/audio-proxy/target/

releases/
